/* стиль для всех символов "точка" (как пример это для штрих пунктирной линии) */
* :nth-stroke(3) {
  stroke: #df0024;
}

/*--1-- @title Красные линии */
[one_code='1'] {
  stroke: #df0024;
  stroke-width: 0.5;
}

/*--2-- @title Красные линии ТОП */
[one_code='2'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--3-- @title Красные линии ЛО */
[one_code='3'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--4-- @title Красные линии ОДМС */
[one_code='4'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--5-- @title Границы  санитарно-защитных зон */
[one_code='5'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 5, 5 35;
  stroke-dashoffset: 0, 15;
  stroke: #df0024,
    symbol(
      'wkt://LINESTRING (-0.45 0, -0.45 3, -1.2 3, -1.2 3.7, 1.2 3.7, 1.2 3, 0.45 3, 0.45 0, -0.45 0)'
    ); /* Отображение галочки */
  stroke-size: none, 6px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--6-- @title Границы полос отвода железных дорог */
[one_code='6'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 10 10, 1 19, 1 19;
  stroke-dashoffset: 0, 6.5, 3.5;
  stroke: #df0024, symbol(circle), symbol(circle); /* Отображение галочки */
  stroke-size: none, 1px, 1px;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--7-- @title Границы режимов на ООПТ */
[one_code='7'] {
  stroke: #009f3c;
  stroke-width: 0.5;
}

/*--8--  @title Границы особо охраняемых природных территорий  */
[linecode='8'] {
  fill: symbol('shape://slash');
  fill-rotation: 90;
  :fill {
    size: 10;
    stroke: #f8f400;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--  -- srv_207_k.layer001 @title Зоны поставленные на кадастровый учет  */
* {
  stroke: #0b9939;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  font-fill: #0b9939;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 10;
  fill: symbol('shape://slash');
  fill-rotation: 0;
  :fill {
    size: 20;
    stroke: #0b9939;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

[@sd > 500 and @sd < 8000] {
  label: [vri_540];
}

/*--  -- srv_207_k.layer002 @title Зоны (рабочие временные)  */
* {
  stroke: #4daf4a;
  stroke-width: 3;
  font-fill: #4daf4a;
  font-family: Arial;
  font-size: 13;
  label: [vri_540];
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 2;
}

/*--  -- srv_207_k.layer003 @title Подзоны (рабочие временные)  */
* {
  stroke: #898989;
  stroke-width: 3;
  font-fill: #898989;
  font-family: Arial;
  font-size: 13;
  [@sd > 500 and @sd < 7000] {
    label: [plotnost] '/' [vysota] '/' [proczastro];
  }
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 2;
}

/*--  -- srv_207_k.layer004 @title Зоны актуальные */
* {
  stroke: #4c49ff;
  stroke-width: 3;
  font-fill: #1c1efa;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 10;
}

[@sd > 500 and @sd < 8000] {
  label: [vri_540];
}

/*--  -- srv_207_k.layer005 @title Подзоны (актуальные) */
* {
  stroke: #ed5d10;
  stroke-width: 2;
  font-fill: #ed5d10;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  [@sd > 500 and @sd < 8000] {
    label: [plotnost] '/' [vysota] '/' [proczastro];
  }
  label-anchor: 0 0;
  label-max-displacement: 150;
  label-padding: 2;
}

/*--  -- srv_207_k.layer006 @title Зоны по 120-ПП (14.01.2020) */
* {
  stroke: #4300ee;
  stroke-width: 3;
  font-fill: #4300ee;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 10;
}

[@sd > 500 and @sd < 8000] {
  label: [vri];
}

/*---- srv_207_k.layer007  @title Комплексное развитие территорий */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #0042ff;
    stroke-width: 1.5px;
    fill-opacity: 0.3;
  }
  stroke: #0042ff;
  stroke-width: 2px;
}

/*---- srv_207_k.layer008  @title Планшетная сетка (Масштаб 1:2000) */
* [@sd > 0 and @sd < 15001] {
  stroke: #626161;
  stroke-width: 1;
}

[@sd > 0 and @sd < 25001] {
  label: [list];
  font-fill: #626161;
  font-family: Arial;
  font-size: 18;
  label-anchor: 0 0.5;
  label-max-displacement: 1;
}

/*---- srv_207_k.layer009 @title Зоны (Сведения ограниченного доступа) */
* {
  fill: symbol('shape://times');
  :fill {
    size: 10;
    stroke: #0566ff;
    stroke-width: 1px;
  }
  stroke: #2b3de6;
  stroke-width: 2px;
  fill-opacity: 0.75;
}

/*---- srv_207_k.layer010 @title Подзоны (Сведения ограниченного доступа) */
* {
  fill: symbol('shape://times');
  :fill {
    size: 10;
    stroke: #e60000;
    stroke-width: 1px;
  }
  stroke: #dd650b;
  stroke-width: 2px;
  fill-opacity: 0.75;
}

/*--  -- srv_208_k.layer001 @title Зоны, поставленные на кадастровый учет */
* {
  stroke: #0b9939;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  font-fill: #0b9939;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 10;
  fill: symbol('shape://slash');
  fill-rotation: 0;
  :fill {
    size: 20;
    stroke: #0b9939;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

[@sd > 500 and @sd < 8000] {
  label: [vri_540];
}

/*--  -- srv_208_k.layer002 @title Зоны (актуальные)  */
* {
  stroke: #4c49ff;
  stroke-width: 3;
  font-fill: #1c1efa;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 10;
}

[@sd > 500 and @sd < 8000] {
  label: [vri_540];
}

/*--  -- srv_208_k.layer003 @title Подзоны (актуальные) */
* {
  stroke: #ed5d10;
  stroke-width: 2;
  font-fill: #ed5d10;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  [@sd > 500 and @sd < 8000] {
    label: [plotnost] '/' [vysota] '/' [proczastro];
  }
  label-anchor: 0 0;
  label-max-displacement: 150;
  label-padding: 2;
}

/*--  -- srv_208_k.layer004 @title Зоны по 120-ПП (14.01.2020) */
* {
  stroke: #4300ee;
  stroke-width: 3;
  font-fill: #4300ee;
  font-family: Arial;
  font-size: 13;
  font-weight: bold;
  label-anchor: 0.5 0;
  label-max-displacement: 1;
  label-padding: 10;
}

[@sd > 500 and @sd < 8000] {
  label: [vri];
}

/*---- srv_208_k.layer005  @title Комплексное развитие территорий */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #0042ff;
    stroke-width: 1.5px;
    fill-opacity: 0.3;
  }
  stroke: #0042ff;
  stroke-width: 2px;
}

/*---- srv_208_k.layer006  @title Планшетная сетка (Масштаб 1:2000) */
* [@sd > 0 and @sd < 15001] {
  stroke: #626161;
  stroke-width: 1;
}

[@sd > 0 and @sd < 25001] {
  label: [list];
  font-fill: #626161;
  font-family: Arial;
  font-size: 18;
  label-anchor: 0 0.5;
  label-max-displacement: 1;
}

/*---- srv_208_k.layer007 @title Зоны (Сведения ограниченного доступа) */
* {
  fill: symbol('shape://times');
  :fill {
    size: 5;
    stroke: #177ff8;
    stroke-width: 1px;
  }
  stroke: #157ff8;
  stroke-width: 2px;
  fill-opacity: 0.75;
}

/*---- srv_208_k.layer008 @title Подзоны (Сведения ограниченного доступа) */
* {
  fill: symbol('shape://times');
  :fill {
    size: 5;
    stroke: #e60000;
    stroke-width: 1px;
  }
  stroke: #dd650b;
  stroke-width: 2px;
  fill-opacity: 0.75;
}

/*---- srv_217_k.layer001 @title ПМТ Границы кварталов */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #88ca67;
    stroke-width: 1.5px;
    fill-opacity: 0.3;
  }
  stroke: #87ca66;
  stroke-width: 2px;
}

/*---- srv_217_k.layer002 @title ДГИ Границы кварталов */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 10;
    stroke: #005ce5;
    stroke-width: 1px;
    fill-opacity: 0.3;
  }
  stroke: #101dd8;
  stroke-width: 2px;
}

/*---- srv_217_k.layer003 @title ДГИ Границы участков */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 10;
    stroke: #e78e0e;
    stroke-width: 1px;
    fill-opacity: 0.3;
  }
  stroke: #ca7548;
  stroke-width: 2px;
}

/*---- srv_217_k.layer004 @title ДГИ Границы сервитутов участков */
* {
  stroke: #ff3300;
  stroke-width: 2px;
}

/*---- srv_217_k.layer005 @title ДГИ Границы участков с особым режимом использования */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 7;
    stroke: #cc0000;
    stroke-width: 1px;
    fill-opacity: 0.3;
  }
  stroke: #000000;
  stroke-width: 2px;
}

/*---- srv_217_k.layer006 @title ДГИ Границы зданий и сооружений */
* {
  stroke: #999999;
  stroke-width: 2px;
  fill: #cccc33;
  fill-opacity: 0.5;
}

/*---- srv_218_k.layer001 @title Действующие ГПЗУ */
* {
  stroke: #999999;
  stroke-width: 2px;
  fill: #66ccff;
  fill-opacity: 0.5;
}

/*---- srv_218_k.layer002 @title Отмененные ГПЗУ */
* {
  stroke: #cc3333;
  stroke-width: 2px;
  fill: #cc3333;
  fill-opacity: 0.5;
}

/*---- srv_218_k.layer003 @title ГПЗУ в разработке */
* {
  stroke: #9966cc;
  stroke-width: 2px;
  stroke-dasharray: 6 6;
}

/*---- srv_218_k.layer004 @title ГПЗУ_прекращено */
* {
  fill: symbol('shape://times');
  :fill {
    size: 7;
    stroke: #990000;
    stroke-width: 1px;
  }
  stroke: #ff6666;
  stroke-width: 2px;
  fill-opacity: 0.75;
}

/*---- srv_218_k.layer006 @title Отмененные ГПЗУ Конкурсные */
* {
  stroke: #cc3333;
  stroke-width: 2px;
  fill: #cc3333;
  fill-opacity: 0.5;
}

/*---- srv_218_k.layer009 @title Действующие ГПЗУ Щербинка */
* {
  stroke: #669999;
  stroke-width: 2px;
  fill: #3399cc;
  fill-opacity: 0.5;
}

/*---- srv_231_k.layer001 @title КРТ с решением ГЗК */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #ff00ff;
    stroke-width: 1px;
    fill-opacity: 0.3;
  }
  stroke: #ff00ff;
  stroke-width: 2px;
}

/*---- srv_231_k.layer002 @title КРТ общий список */
* {
  fill: symbol('wkt://LINESTRING (1 0, 2 0)'),
    symbol('wkt://LINESTRING (0 0, 1 0)');
  :fill {
    size: 20;
    stroke: #0099ff;
    stroke-dasharray: 15 10, 5 45;
    stroke-dashoffset: 0, 20;
  }
  stroke: #0099ff;
  stroke-width: 2px;
}

/*---- srv_231_k.layer003 @title Красные зоны */
* {
  stroke: #ff0000;
  stroke-width: 2px;
  fill: #ff0033;
  fill-opacity: 0.3;
}

/*---- srv_231_k.layer004 @title Синие зоны */
* {
  stroke: #3300ff;
  stroke-width: 2px;
  fill: #3300ff;
  fill-opacity: 0.3;
}

/*---- srv_231_k.layer005 @title Исключение */
* {
  fill: symbol('shape://times');
  :fill {
    size: 7;
    stroke: #cc9999;
    stroke-width: 1px;
  }
  stroke: #cc9999;
  stroke-width: 2px;
  fill-opacity: 0.75;
}

/*---- srv_231_k.layer008 @title КРТ с решением ГЗК */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #ff00ff;
    stroke-width: 1px;
    fill-opacity: 0.3;
  }
  stroke: #ff00ff;
  stroke-width: 2px;
}

/*---- srv_231_k.layer010 @title КРТ договоры ДГИ */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #999966;
    stroke-width: 1px;
    fill-opacity: 0.3;
  }
  stroke: #669966;
  stroke-width: 2px;
}

/*--1-- srv_301_k.layer001 @title Границы улично дорожной сети красные линии */
* {
  stroke: #cc0033;
  stroke-width: 2px;
}

/*--1-- srv_301_k.layer002 @title Территории УДС */

* {
  fill: symbol('shape://horline');
  stroke: #cc0033;
  stroke-width: 0.5;
  stroke-opacity: 0.2;
  fill-opacity: 0.6;
  :fill {
    size: 10;
    stroke: #cc0033;
    stroke-width: 2px;
  }
}

/*---- srv_301_k.layer053 @title Прибрежные зоны */
* {
  fill: symbol('shape://slash');
  fill-rotation: 90;
  stroke: #0669b1;
  stroke-width: 0.5;
  stroke-opacity: 0.2;
  fill-opacity: 0.75;
  :fill {
    size: 8;
    stroke: #0669b1;
    stroke-width: 1.5px;
  }
}

/*---- srv_301_k.layer050 @title Водоохранные_зоны */
* {
  fill: symbol('shape://slash');
  fill-rotation: 0;
  stroke: #0669b1;
  stroke-width: 0.5;
  stroke-opacity: 0.2;
  fill-opacity: 0.75;
  :fill {
    size: 8;
    stroke: #0669b1;
    stroke-width: 1.5px;
  }
}

/*--9-- srv_301_k.layer069  @title 3.1 Территории объектов культурного наследия (включенных в ЕГРОКН) и выявленных объектов культурного наследия  */
* {
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.9 0, -0.9 -2.5, 0.9 -2.5, 0.9 0, -0.9 0)');
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-size: none, 7;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки треугольника */
  }
  fill: symbol('shape://slash');
  :fill {
    size: 10;
    stroke: #f7f300;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*---- srv_301_k.layer070  @title 3.1 Территория особо охраняемого природного объекта Росреестр  */
* {
  fill: symbol('shape://slash');
  :fill {
    size: 10;
    stroke: #009d00;
    stroke-width: 1px;
    fill-opacity: 0.9;
  }
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 0, 5 35;
  stroke-dashoffset: 0, 17.5;
  stroke: #df0024, symbol('wkt://LINESTRING (-0.5 -1, 0 0, 0.5 -1)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--8-- srv_301_k.layer071 @title Особо охраняемые природные территории  */
* {
  fill: symbol('shape://slash');
  fill-rotation: 0;
  :fill {
    size: 10;
    stroke: #f7f300;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--8-- srv_301_k.layer072 @title Границы особо охраняемых природных территорий  */
* {
  stroke: #df0024, symbol(triangle); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-rotation: 0;
  stroke-offset: 0, 1.5; /* Смещение символа вверх */
  stroke-size: none, 8;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки треугольника */
  }
}

/* srv_301_k.layer073 @title Территории и участки ООПТ г Москвы */
* {
  stroke: #98d61f;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  fill: symbol('shape://slash');
  fill-rotation: 90;
  :fill {
    size: 10;
    stroke: #f7f300;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/* srv_301_k.layer074 @title Границы территорий и участков ООПТ г. Москвы */
* {
  stroke: #4ce800;
  stroke-width: 0.5;
  stroke-opacity: 0.9;
}

/* srv_301_k.layer075 @title 322 Памятники природы */
* {
  stroke: #df0024, symbol(circle); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-offset: 0, 3; /* Смещение символа вверх */
  stroke-size: none, 7px;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
  fill: symbol('shape://slash');
  fill-rotation: 90;
  :fill {
    size: 10;
    stroke: #f7f300;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/* --57-- srv_301_k.layer076 @title Зоны размещения ОКС на ООПТ */
* {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
  stroke-opacity: 0.3;
  fill: symbol('shape://slash');
  fill-rotation: 90;
  :fill {
    size: 10;
    stroke: #f7f300;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/* --57-- srv_301_k.layer077 @title 301_Границы зон размещения ОКС на ООПТ */
* {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--47-- srv_301_k.layer078 @title Границы участков ООЗТ, поставленных на кадастровый учет */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 0, 10 35;
  stroke: #df0024,
    symbol(
      'wkt://LINESTRING (-0.5 0, -0.25 -0.6, -0.5 -0.6, 0 -1.6, 0.5 -0.6, 0.25 -0.6, 0.5 0)'
    ); /* Отображение галочки */
  stroke-size: none, 10;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки */
  }
  fill: symbol('shape://vertline');
  :fill {
    size: 10;
    stroke: #00a13d;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--47-- srv_301_k.layer079 @title Границы ООЗТ (ППМ №424-ПП от 22.08.2012) */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 0, 10 35;
  stroke: #df0024,
    symbol(
      'wkt://LINESTRING (-0.5 0, -0.25 -0.6, -0.5 -0.6, 0 -1.6, 0.5 -0.6, 0.25 -0.6, 0.5 0)'
    ); /* Отображение галочки */
  stroke-size: none, 10;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки */
  }
  fill: symbol('shape://vertline');
  :fill {
    size: 10;
    stroke: #00a13d;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--41-- srv_301_k.layer080 @title Границы береговой_полосы */
* {
  stroke: #3d107b;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--41-- srv_301_k.layer081 @title Зоны береговых полос */
* {
  stroke: #23e7f3;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  fill: symbol('shape://slash');
  fill-rotation: 90;
  :fill {
    size: 20;
    stroke: #23e7f3;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--18-- srv_301_k.layer082 @title Границы территорий природного комплекса Москвы */
* {
  stroke: #df0024, symbol(triangle); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-rotation: 0;
  stroke-offset: 0, 1.5; /* Смещение символа вверх */
  stroke-size: none, 8;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--18-- srv_301_k.layer083 @title Природные и озеленённые территории */
* {
  fill: symbol('shape://horline');
  :fill {
    size: 10;
    stroke: #00a13d;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*---- srv_301_k.layer084 @title Границы территорий и участков объектов ПК с режимами регулирования ГД */
* {
  stroke: #7bc523;
  stroke-width: 0.5;
}

/*---- srv_301_k.layer085 @title Территории и участки объектов ПК с режимами регулирования ГД - площади */
* {
  stroke: #00a13d;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  fill: symbol('shape://horline');
  :fill {
    size: 10;
    stroke: #00a13d;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--29-- srv_301_k.layer086 @title Границы технических зон инженерных коммуникаций */
* {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--29-- srv_301_k.layer087 @title Технические зоны инженерных коммуникаций */
* {
  stroke: #3d107b;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  fill: symbol('shape://slash');
  :fill {
    size: 10;
    stroke: #3d107b;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--6-- srv_301_k.layer088 @title Полосы отвода железных дорог */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 10 10, 1 19, 1 19;
  stroke-dashoffset: 0, 6.5, 3.5;
  stroke: #df0024, symbol(circle), symbol(circle); /* Отображение галочки */
  stroke-size: none, 1px, 1px;
  :nth-stroke(2) {
    stroke: #df0024;
  }
  :nth-stroke(3) {
    stroke: #df0024;
  }
}

/*--6-- srv_301_k.layer089 @title Полосы отвода железных дорог полигон */
* {
  stroke: #eb880e;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  fill: symbol('shape://slash');
  fill-rotation: 90;
  :fill {
    size: 10;
    stroke: #eb880e;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*---- srv_301_k.layer090 @title Границы внеуличных пешеходных переходов */
* {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--26-- srv_301_k.layer091 @title Линии застройки */
* {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--51-- srv_301_k.layer092 @title Чкаловский */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer093 @title Ступино */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer094 @title Остафьево */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer095 @title Кубинка */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer096 @title Клин */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer097 @title Ермолино */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer098 @title Дягилево */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer099 @title Раменское */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer100 @title Внуково */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--51-- srv_301_k.layer100 @title Шереметьево */
* {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 -0.1, -0.1 -0.87, 0.5 -0.1, -0.5 -0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
  fill: symbol('shape://slash');
  :fill {
    size: 20;
    stroke: #694720;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--58-- srv_301_k.layer102 @title Границы зон транспортных коммуникаций (монорельс, канатная дорога, фуникулер, трамвай) */
* {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--58-- srv_301_k.layer103 @title Зоны_транспортных_коммуникаций_монорельс_канатная_дорога_фуникулер_трамвай */
* {
  stroke: #e2007b;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
  fill: symbol('shape://slash');
  fill-rotation: 90;
  :fill {
    size: 20;
    stroke: #e2007b;
    stroke-width: 2px;
    fill-opacity: 0.9;
  }
}

/*--10-- @title Границы территорий ОКН  */
[one_code='10'] {
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.31 0, -0.31 2.7, 0.31 2.7, 0.31 0, -0.31 0)');
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-size: none, 7;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки треугольника */
  }
}

/*--11-- @title Границы  зон охраняемого природного ландшафта территорий */
[one_code='11'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 10 10, 5 35;
  stroke-dashoffset: 0, 17.5;
  stroke: #df0024, symbol('wkt://LINESTRING (0 0, -0.5 0.87, 0.5 0.87, 0 0)'); /* Отображение галочки */
  stroke-size: none, 5.5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--13-- @title Границы зон 1 пояса санитарной охраны */
[one_code='13'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 5, 5 15;
  stroke-dashoffset: 0, 15;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.75 0, -0.75 2.5, 0.25 2.5, 0.75 0, -0.75 0)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--14-- @title Границы зон 2 пояса санитарной охраны */
[one_code='14'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 5, 5 15;
  stroke-dashoffset: 0, 15;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.45 0, -0.45 2.5, 0.45 2.5, 0.45 0, -0.45 0)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--15-- @title Границы жестких зон 2 пояса санитарной охраны */
[one_code='15'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 20, 1 24;
  stroke-dashoffset: 0, 20, 5;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.45 0, -0.45 2.5, 0.45 2.5, 0.45 0, -0.45 0)'),
    symbol(circle); /* Отображение галочки */
  stroke-size: none, 5px, 1px;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--16-- @title Границы водоохранных (рыбоохранных зон) */
[one_code='16'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 10 10, 5 35;
  stroke-dashoffset: 0, 17.5;
  stroke: #df0024, symbol('wkt://LINESTRING (-1 1, 0 0, 1 1)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--17-- @title Границы прибрежных полос */
[one_code='17'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 10 10, 5 35, 1 19;
  stroke-dashoffset: 0, 17.5, 5;
  stroke: #df0024, symbol('wkt://LINESTRING (-1 1, 0 0, 1 1)'), symbol(circle); /* Отображение галочки */
  stroke-size: none, 5px, 1px;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--18-- @title Объектов природного комплекса */
[one_code='18'] {
  stroke: #df0024, symbol(triangle); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-rotation: 180;
  stroke-offset: 0, -1.5; /* Смещение символа вверх */
  stroke-size: none, 8;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--19-- @title Границы охранных зон ООПТ */
[one_code='19'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: none, 5 36;

  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.25 0, -0.25 2.5, 0.25 2.5, 0.25 0, -0.25 0)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--20-- @title Границы защитных зон ОКН */
[one_code='20'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.25 0, -0.25 2.5, 0.25 2.5, 0.25 0, -0.25 0)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--21-- @title Границы режимов на территориях ПК Москвы */
[one_code='21'] {
  stroke: #009f3c;
  stroke-width: 0.5;
}

/*--22-- @title Границы  зон затопления */
[one_code='22'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024, symbol('wkt://MULTILINESTRING((-0.5 0, 0 1), (0 0, 0.5 1))'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--23-- @title Границы  зон регулирования застройки и хозяйственной деятельности */
[one_code='23'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--25-- @title Границы зон транспортных сооружений */
[one_code='25'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--26-- @title Границы линий застройки */
[one_code='26'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--29-- @title Границы технических зон инженерных коммуникаций и сооружений */
[one_code='29'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--30-- @title Границы охранных зон военного О */
[one_code='30'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--31-- @title Границы охранных зон радиотехнического О */
[one_code='31'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--32-- @title Границы охранных зон электроэнергетики */
[one_code='32'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--33-- @title Границы охранных зон ОИ метрополитена */
[one_code='33'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--34-- @title Границы охранных зон связи */
[one_code='34'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--35-- @title Границы охранных зон трубопровода */
[one_code='35'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--36-- @title Границы технических зон метрополитена */
[one_code='36'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--37-- @title Границы охранных зон стационарных пунктов */
[one_code='37'] {
  stroke: #df0024, symbol(square); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-rotation: 45;
  stroke-offset: 0, -3; /* Смещение символа вверх */
  stroke-size: none, 7;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--38-- @title Границы охранных зон пунктов государственной геодезической сети */
[one_code='38'] {
  stroke: #df0024, symbol(triangle); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-offset: 0, -3; /* Смещение символа вверх */
  stroke-size: none, 8;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024;
  }
}

/*--39-- @title Границы зон минимальных расстояний до магистральных или промышленных трубопроводов */
[one_code='39'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--40-- @title Границы охранных зон тепловых сетей */
[one_code='40'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--41-- @title Границы береговых полос */
[one_code='41'] {
  stroke: #0000ff;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--44-- @title Границы зон охраняемого объекта */
[one_code='44'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 20, 1 24;
  stroke-dashoffset: 0, 20, 5;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.25 0, -0.25 2.5, 0.25 2.5, 0.25 0, -0.25 0)'),
    symbol(circle); /* Отображение галочки */
  stroke-size: none, 5px, 1px;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--45-- @title Границы зон внеуличного пешеходного перехода */
[one_code='45'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--46-- @title Границы зон зарезервированных для образования особо охраняемых природных территорий */
[one_code='46'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 10 10, 5 35;
  stroke-dashoffset: 0, 17.5;
  stroke: #df0024, symbol('wkt://LINESTRING (0 0, -0.5 0.87, 0.5 0.87, 0 0)'); /* Отображение галочки */
  stroke-size: none, 5.5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки */
  }
}

/*--49-- @title Границы зон лесопарковых зеленых поясов*/
[one_code='49'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 3 6;
}

/*--50-- @title Границы зон приаэродромной территрии*/
[one_code='50'] {
  stroke: #df0024, symbol(triangle); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-offset: 0, -2.5; /* Смещение символа вверх */
  stroke-size: none, 8;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--51-- @title Границы полос воздушных подходов на аэродромах */
[one_code='51'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.5 0.1, 0.1 0.87, 0.5 0.1, -0.5 0.1)'); /* Отображение галочки */
  stroke-size: none, 5;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--55-- @title Границы памятников природы */
[one_code='55'] {
  stroke: #df0024, symbol(circle); /* Отображение и линии, и треугольника */
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 0.5; /* Ширина линии */
  stroke-offset: 0, -2; /* Смещение символа вверх */
  stroke-size: none, 7px;
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--57-- @title Границы зон ОКС */
[one_code='57'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--58-- @title Границы зон транспортных коммуникаций */
[one_code='58'] {
  stroke: #df0024;
  stroke-width: 0.5;
  stroke-dasharray: 12 4;
}

/*--59-- @title Границы зон 1А пояса санитарной охраны */
[one_code='59'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 5, 5 15;
  stroke-dashoffset: 0, 15;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.75 0, -0.75 2.5, 0.25 2.5, 0.75 0, -0.75 0)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--60-- @title Границы зон 1Б пояса санитарной охраны */
[one_code='60'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 5, 5 15;
  stroke-dashoffset: 0, 15;
  stroke: #df0024,
    symbol('wkt://LINESTRING (-0.75 0, -0.75 2.5, 0.25 2.5, 0.75 0, -0.75 0)'); /* Отображение галочки */
  stroke-size: none, 5px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--61-- @title Границы  зон 3 пояса санитарной охраны */
[one_code='61'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 1 24, 1 24, 5 20;
  stroke-dashoffset: 0, 6.5, 3.5, 20;
  stroke: #df0024, symbol(circle), symbol(circle),
    symbol('wkt://LINESTRING (-0.45 0, -0.45 2.5, 0.45 2.5, 0.45 0, -0.45 0)'); /* Отображение галочки */
  stroke-size: none, 1px, 1px, 5px;
  :nth-stroke(4) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--62-- @title Границы санитарно-защитных зон (расчетных) */
[one_code='62'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 5, 5 35;
  stroke-dashoffset: 0, 15;
  stroke: #df0024,
    symbol(
      'wkt://LINESTRING (-0.45 0, -0.45 3, -1.2 3, -1.2 3.7, 1.2 3.7, 1.2 3, 0.45 3, 0.45 0, -0.45 0)'
    ); /* Отображение галочки */
  stroke-size: none, 6px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--63-- @title Границы санитарно-защитных зон (ориентировочных) */
[one_code='63'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 5, 5 35;
  stroke-dashoffset: 0, 15;
  stroke: #df0024,
    symbol(
      'wkt://LINESTRING (-0.45 0, -0.45 3, -1.2 3, -1.2 3.7, 1.2 3.7, 1.2 3, 0.45 3, 0.45 0, -0.45 0)'
    ); /* Отображение галочки */
  stroke-size: none, 6px;
  /*Смещение символа вверх */
  :nth-stroke(2) {
    stroke: #df0024;
    fill: #df0024; /* Цвет заливки прямоугольника */
  }
}

/*--64-- @title Границы зон подтопления (сильного)*/
[one_code='64'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024, symbol('wkt://MULTILINESTRING((-0.5 0, 0 1), (0 0, 0.5 1))'); /* Отображение галочки */
  stroke-size: none, 5px;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--65-- @title Границы зон подтопления (умеренного)*/
[one_code='65'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024, symbol('wkt://MULTILINESTRING((-0.5 0, 0 1), (0 0, 0.5 1))'); /* Отображение галочки */
  stroke-size: none, 5px;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}

/*--66-- @title Границы зон подтопления (слабого)*/
[one_code='66'] {
  stroke-width: 0.5; /* Ширина линии */
  stroke-dasharray: 15 10, 5 45;
  stroke-dashoffset: 0, 20;
  stroke: #df0024, symbol('wkt://MULTILINESTRING((-0.5 0, 0 1), (0 0, 0.5 1))'); /* Отображение галочки */
  stroke-size: none, 5px;
  :nth-stroke(2) {
    stroke: #df0024;
  }
}
