/*--1-- @title Охранные зоны объектов культурного наследия */

[linecode='1'] {
  stroke: #e31a1c,
    symbol('wkt://LINESTRING (-0.31 0, -0.31 -2.7, 0.31 -2.7, 0.31 0, -0.31 0)');
  stroke-dasharray: none, 10 45; /* Настройка штрихов для линии */
  stroke-width: 1.5; /* Ширина линии */
  stroke-size: none, 7;
  :nth-stroke(2) {
    stroke: #e31a1c;
    fill: #e31a1c; /* Цвет заливки прямоугльника */
  }

  fill: symbol('shape://vertline');
  :fill {
    size: 20;
    stroke: #23f4ff;
    stroke-width: 1;
  }
}
